
<html>
<head>

 <script src="js/angular.min.js"></script>
 
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
 
 
 </head>
<body ng-app="myApp" ng-controller="availableresourcesCtrl">


<div class="form">
   
    <form class="login-form">
      <input type="text" name="skillset" ng-model="params.skillset" placeholder="skillset"/>
      <button ng-click="checkresources(params)">CHECK DETAILS</button>
      
    </form>
</div>

	<div class="container">
	
		<div class="row">
			<div class="col">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading"><center>Available Resources Based on SkillSet</center><button class="button button5" ng-click="back()">BACK</button></div>
						<div class="panel-body">
							<div class="row">
								

							
							
							
									<div ng-repeat="x in result">
									<h3>USER1</h3>{{x.phonenumber}}
									
													<div class="col-lg-12">
								<img src="/images/portfolio/{{x.uploadimage}}" class="img-thumbnail" alt="Cinque Terre" width="200" height="136"> 
									</img>
		
				
											<fieldset>
                                  <legend>Employee Details</legend>
									
									
									</fieldset>
									<br>
									<br>
                                 </div>
		                         
		
								</div>
								
							
								
							</div>
                       
					   
						</div>
						<div class="row">
					   <div class="col-lg-12">
								<h4>Number of Employees on this Skillset</h4><b>{{totalcount}}</b>

                       </div>
					   
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	





<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('availableresourcesCtrl', function($scope,$http,$window) {
   
    
	
	$scope.checkresources = function(params) {
	var skillset = params.skillset;
	
      var json = {

        "skillset": skillset
		};
		
		
		
		$http.post("/availableresources",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			console.log("AVAILABLE RESOURCES"+JSON.stringify(response))
			$scope.result=response.data.result;
				
				
                $scope.username = response.data.result[0].username;
				
				
               $scope.totalcount=response.data.result.length;
				
				 

                
            } else {
                $window.alert('No resource is available');

            }
			
			
			
			
			
        })
		
		
	}
	
	
	$scope.back = function() {
	
	window.location.assign("/managerprofile");
			
	}
	
	
});
</script>

</body>
</html>