
<html>
<head>
 <script src="js/angular.min.js"></script>
 
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 
 
 </head>
<body ng-app="myApp" ng-controller="deleteprojectCtrl">

<form>
Project Name <input class="form-control" type="text" name="skillset" ng-model="params.projectname"><br>
<input type="submit" ng-click="removeproject(params)" value="Remove Project">
</form>

<br>





<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('deleteprojectCtrl', function($scope,$http,$window,$rootScope) {
   
    
	
	
	
	
	
	$scope.removeproject = function(params) {
	var projectname = params.projectname;
	
      var json = {

        "_id": projectname
		};
		
		
		
		$http.post("/totalemployeesinproject",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			console.log("TOTAL EMPS IN PROJECT"+JSON.stringify(response))
			$rootScope.result=response.data.result[0].employees;
				
				
               $scope.totalcount=response.data.result[0].employees.length;
			   
			   
			   
			
		 angular.forEach($rootScope.result,function(value,index){
                
				var json={
				"_id":value._id
				}
				console.log("_ID BEFORE DELETING EMPLOYEE FROM PROJECT"+JSON.stringify(json))
            	
		$http.post("/updatechangeresources",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			
				 
                
            }
			 else {
                $window.alert('Project is not Present');

            }	
				
			})	
				
            })
			   
			   
			   
			   
				
				 
                
            }
			
			

			else {
                $window.alert('Project is not Present');

            }
			
			
			
			
			
        })
		
		
		
		
			
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		$http.post("/deleteproject",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			     $window.alert('Delete made Successfully');

           	
				 

                
            } else {
                $window.alert('Please Check Entered ID');

            }
			
			
			
			
			
        })
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	}
	
	
	
});
</script>

</body>
</html>