
<html>
<head>


 <script src="js/angular.min.js"></script>
 
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
 
 </head>
<body ng-app="myApp" ng-controller="editprojectresourcesCtrl">




	<div class="container">
	
	
		<div class="row">
			<div class="col">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading"><center>Edit Project Resources</center><button class="button button5" ng-click="back()">BACK</button></div>
						<div class="panel-body">
						
						<div class="row">
						
						
<div class="form">
   
    <form class="login-form">
      <input  type="text" name="projectname" id="projectname" ng-model="params.projectname" placeholder="projectname"/><br>
<button ng-click="totalempsinproject(params)">Total Emps in Project</button> <br><br>

<input  type="text"  name="gmailid" ng-model="params.gmailid" placeholder="gmailid"/><br>


<button ng-click="removefromproject(params)">Remove from Project</button><br><br>

<input type="text" name="skillset" ng-model="params.skillset" placeholder="skillset"/><br><br>
<button ng-click="searchskillset(params)">Search Employees</button><br><br>
  
  
 
  
<div>
<table border="1">
<tr >
        
      </tr><tr ng-repeat="x in result1">
 <td>Add to project</td> <td><button ng-click="addemployees(x)" id="resource">{{x._id}}</td>
</tr>
</table>

</div>

 


    </form>
</div>
						
						
							</div>
							
							
			<div class="row">
								

							
							
							
									<div ng-repeat="x in result">
									
													<div class="col-lg-12">
	
				
											<fieldset>
                                  <legend>Project Details</legend>
										<h3>USER</h3>{{x._id}}	<h3>ResourceType</h3>{{x.resourcetype}}
									</fieldset>
									<br>
									<br>
                                 </div>
		                         
		
								</div>
								
							
								
							</div>				
							
							
							
                    </div>
				</div>
			</div>
		</div>
	</div>	







<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('editprojectresourcesCtrl', function($scope,$http,$window,$rootScope) {
   
       var assigned_array = [];
	var employeename =[];
 
	
	$scope.totalempsinproject = function(params) {
	var projectname = params.projectname;
	
      var json = {

        "_id": projectname
		};
		
		
		
		$http.post("/totalemployeesinproject",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			console.log("TOTAL EMPS IN PROJECT"+JSON.stringify(response))
			$scope.result=response.data.result[0].employees;
				
				
                $scope.username = response.data.result[0].employees[0].username;
				
				$scope.resourcetype = response.data.result[0].employees[0].resourcetype;
				
				
               $scope.totalcount=response.data.result[0].employees.length;
				
				 
                
            } else {
                $window.alert('Project is not Present');

            }
			
			
			
			
			
        })
		
		
	}
	
	
		$scope.searchskillset = function(params) {
	var skillset = params.skillset;
	
      var json = {

        "skillset": skillset
		};
		
		
		
		$http.post("/availableresources",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			console.log("AVALABLE RESOURCES"+JSON.stringify(response))
			$scope.result1=response.data.result;
				
				
                $scope.username = response.data.result[0].username;
			} else {
                $window.alert('No resource is available');

            }
			
			
			
			
			
        })
		
		
	}
	
	
		$scope.addemployees = function(x) {
	var employee = x._id;
	x.status=1;
	x.project = document.getElementById('projectname').value;
	
	var resourcetype = prompt("BILLABLE OR SHADOW", "BILLABLE");
    
      var json = {
        "_id": employee,
		"project":x.project,
		"resourcetype":resourcetype
		};
		
		console.log("RESOURCE TYPE"+resourcetype)
		
		x.resourcetype=resourcetype;
		
		$http.post("/updateavailableresources",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			
			 

                                $window.alert('Employee added successfully');

            } else {
                $window.alert('No resource is available');

            }
			
			
			
			
			
        })
		
		
			
                
              
            
            $rootScope.employees = x;
			console.log("EMP JSON"+JSON.stringify($rootScope.employees));
			
			
			
			var projectname = x.project;
		
		;
	var employeename = $rootScope.employees;
	
	  var json = {

        "projectname": projectname,
		"employeename": employeename,
		};
		
		
		console.log("UPDATING EACH EMP DETAILS"+JSON.stringify(json))
		$http.post("/updateprojectdetails",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			     $window.alert('Changes made Successfully');

           	
				 

                
            } else {
                $window.alert('Please Check Entered ID');

            }
			
			
			
			
			
        })
			
			
			
			
			
			
			
			
			
			
			
			
			

		
		
		
		
	}
	
	$scope.removefromproject = function(params) {
	var projectname = params.projectname;
	var gmailid = params.gmailid;
      var json = {

        "projectname": projectname,
		"gmailid": gmailid,
		};
		
		
		
		$http.post("/editprojectresources",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			     $window.alert('Resource Deleted Successfully');

           	
				 

                
            } else {
                $window.alert('Please Check Entered ID');

            }
			
			
			
			
			
        })
		
		
	}
	
	
	$scope.back = function() {
	
	window.location.assign("/managerprofile");
			
	}
});
</script>

</body>
</html>