<html>
<head>
 <script src="js/angular.min.js"></script>
 
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="css/login.css">
	
 
 </head>
<body ng-app="myApp" ng-controller="loginCtrl">



<div class="login-page">
  <div class="form">
   
    <form class="login-form">
      <input type="text" name="gmailid" ng-model="params.gmailid" placeholder="gmailid"/>
      <input type="password" name="password" ng-model="params.password" placeholder="password"/>
      <button ng-click="login(params)">login</button>
      <p class="message">Not registered? <a href="/Registration">Create an account</a></p>
    </form>
	<h1>{{result1}}</h1>

  </div>
</div>




<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('loginCtrl', function($scope,$http,$window) {
   
    
	
	$scope.login = function(params) {
	var gmailid = params.gmailid;
	var password=params.password;
	
      var json = {

        "_id": gmailid,
		"password":password
		};
		
		localStorage.setItem('email',gmailid);
		
		$http.post("/log",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			
		
	  $scope.result=response.data;
	  
	  		if($scope.result=="angularjs"||$scope.result=="ionic"||$scope.result=="mean"||$scope.result=="mulesoft")
			{
			
			window.location.assign("/profile");
			}
			
			else if($scope.result=="manager")
			{
			
			window.location.assign("/managerprofile");
			}
			else{
			
 $scope.result1= $scope.result;
           }
                
            } else {
                $window.alert('Please Check Entered ID');

            }
			
			
			
			
			
        })
		
		
	}
});
</script>

</body>
</html>