<html>
<head>
 <script src="js/angular.min.js"></script>
 	<script src="js/controllers/loginctrl.js"></script>
 
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="css/login.css">
	
 
 </head>
<body ng-app="myApp" ng-controller="loginCtrl">



<div class="login-page">
  <div class="form">
   
    <form class="login-form">
      <input type="text" name="gmailid" ng-model="params.gmailid" placeholder="gmailid"/>
      <input type="password" name="password" ng-model="params.password" placeholder="password"/>
      <button ng-click="login(params)">login</button>
      <p class="message">Not registered? <a href="/Registration">Create an account</a></p>
    </form>
	<h1>{{result1}}</h1>

  </div>
</div>




<!-- AngularJS module define AngularJS applications -->


</body>
</html>