
<html>
<head>
 <script src="js/angular.min.js"></script>
 
 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
 
 
 </head>
<body ng-app="myApp" ng-controller="myCtrl">

<form>
GmailID: <input class="form-control" type="text" name="gmailid" ng-model="params.gmailid"><br>
<input type="submit" ng-click="demo(params)" value="Submit">
</form>

<br>


<div>
<table border="1">

<tr >
        <th>UserName</th>
       
      </tr><tr ng-repeat="x in result">
  <td>{{x.username}}</td>
  
</tr>
</table>




</div>

<div>
<table border="1">

<tr >
        <th>Number of Employees in Organisation</th>
    
      </tr><tr>
  <td>{{totalcount}}</td>
    
   
</tr>
</table>
</div>




<script>

<!-- AngularJS module define AngularJS applications -->
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http,$window) {
   
    
	
	$scope.demo = function(params) {
	var gmail = params.gmailid;
	
      var json = {

        "_id": gmail
		};
		
		
		
		$http.post("/totalemployees",json).then(function(response) {
            
			
			if (response.data.error == undefined) {
			console.log(JSON.stringify(response))
			$scope.result=response.data.result;
				
				
                $scope.username = response.data.result[0].username;
				
				
               $scope.totalcount=response.data.result.length;
				
				 

                
            } else {
                $window.alert('Please Check Entered ID');

            }
			
			
			
			
			
        })
		
		
	}
});
</script>

</body>
</html>